.DS_Store
Pods
/.DS_Store
*.lyx~
/Core/DefaultEvents/generated/Alpha.bundle
/CRDT/CRDT.xcodeproj/project.xcworkspace/xcuserdata
xcdebugger
/iOS/.idea/
*.xcuserdatad
xcuserdata

*.egg-info/
__pycache__/
venv/

**/target/*
**/build/*
**/.idea/*
!.idea/runConfigurations/
**/.gradle/*
**/gradle/*
gradlew
gradlew.bat
!WebShared/gradle/
!WebShared/gradlew
!WebShared/gradlew.bat
